body {
  
  color:  rgb(56,56,56);
  font-family: Garamond, serif; 
  margin: 10% 20%;
  background-color: AliceBlue;
}

.name {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 8px double #707070
}

.exp-header {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  border-radius: 15px;
  background-color: rgb(220,220,220,0.2)
}


.education-head {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  border-radius: 15px;
  background-color: rgb(220,220,220,0.2)
}

.cert-head {
  text-align: center;
  text-transform: uppercase; 
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
  border-radius: 15px;
  background-color: rgb(220,220,220,0.2)
}

.photo {
  
  margin: 0 auto;
  padding: 10px;
  width: 400px;
  height: 600px;
  background: url("https://github.com/kevinfiddler/kevinfiddler.github.io/blob/main/Hurling_Picture2.jpg?raw=true") no-repeat; 
  background-position: center center;
    }


.photo:active {
        background: url("https://github.com/kevinfiddler/kevinfiddler.github.io/blob/main/Hurling_Pic_3.jpeg?raw=true") no-repeat;
    }


.education {
  text-align: center;
}

ul {
 list-style-type: circle;
}

.cert1 {
  text-align: center;
}

.cert2 {
  text-align: center;
}

a {
  color: #00008B;
  background-color: transparent;
  text-decoration: none;
}

a:hover, a:active {
  color: blue
}
